.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.parent,
.child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.child-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

@media screen and (width < 750px) {
  .child-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
